/* Import das fontes Disket Mono: Regular e Bold */
@font-face {
  font-family: 'Disket Mono';
  src: url('../fonts/Disket-mono/Disket-Mono-Regular.ttf');
}

@font-face {
  font-family: 'Disket Mono';
  src: url('../fonts/Disket-mono/Disket-Mono-Bold.ttf');
}

/* Tags */

body {
    min-width: 320px;
    background-color: #e1e1e1;
    margin: 0;
    padding: 0;
}

/* estilização da navbar no cabeçalho */

nav {
    display: flex;
    color: white;
    background-color: #690682;
    justify-content: space-between;
}

nav h1 {
    font-family: Disket Mono;
    margin: 0;
    font-size: 3.5rem;
}

nav button, #nav-drawer-menu button {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border: none;
    color: white;
    background-color: #BA5AD6;
}

footer {
    background: linear-gradient(to right, #b639d5, #711588); /* Mantém o fundo atual */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    flex-wrap: wrap;
}

/* efeito de clique nos botões e na tag span */
button:not(:disabled):active, span:active {
    opacity: 0.8;
}

button {
    transition: 0.2s;
}

button:hover, .whatsapp:hover {
    transform: scale(1.1);
}

/* define a fonte dos textos do site como arial */
label, p, li {
    font-family: Arial, Helvetica, sans-serif;
}

li:hover {
    text-decoration: underline;
}

/* remove a estilização padrão da tag 'a' */
a {
    color: white;
    text-decoration: none;
}

/* faz todo texto span ficar com uma estilização padrão do site */
span {
    color: #b213db;
    text-decoration: underline;
    cursor: pointer;
}

/* faz com que os spans com a classe hidden fiquem imperceptiveis (é necessário o espaço que o span cria para deixar a página simétrica mas não pode aparecer em algumas ocasiões) */
span.hidden:active {
    opacity: 0;
}

/* outras estilizações simples */
p {
    font-size: 1.4rem;
}

input {
    text-align: center;
}

input::placeholder {
    opacity: 0.5;
    font-size: 15px;
}

/* Classes */

/* estiliza o botão principal */
.main-button {
    font-size: 1.2rem;
    background-color: #8e07af;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    text-decoration: underline;
    border-radius: 30px;
    min-width: 20%;
    cursor: pointer;
}

/* estiliza o bloco dos conteúdos (mas não altera a cor) */
.content-block {
    text-align: center;
    justify-self: center;
    max-width: 75%;
    padding: 2rem;
}

.content-block h1 {
    margin: 0;
    font-size: 3rem;
}

.content-block p {
    margin: 0;
    margin-bottom: 1.5rem;
}

.content-block a {
    color: white;
}

/* alinha o titulo da navbar */
.title {
    align-self: center;
    margin: 1rem;
}

/* faz os asteriscos dos formulários ficarem vermelhos sem a estilização do span */
.required {
    color: red;
    text-decoration: none;
    cursor: default;
}

/* qualquer texto com essa classe fica com a fonte Disket */
.disket-font {
    font-family: Disket Mono;
}

/* qualquer campo com essa classe tem seus textos brancos */
.white-text {
    color: white;
}

/* qualquer campo com essa classe tem seus textos pretos */
.black-text {
    color: black;
}

/* qualquer campo com essa classe tem seus textos em negrito */
.bold-text {
    font-weight: bold;
}

/* faz as classes .hidden não aparecerem mas ainda possuem suas posições */
.hidden {
    text-decoration: none;
    opacity: 0;
    cursor: default;
}

/* quando o menu hamburguer tiver essa classe ele some */
.menu-fechado {
    display: none;
}

/* estilização do botão whatsapp */
.whatsapp {
    position: fixed;
    background-color: #00ee5b;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 100px;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* estilização do botão de acessibilidade */
.a11y-widget-btn {
    background: white;
    opacity: 1;
}

.span-contato {
    color: aqua;
}

/* IDs */

/* estiliza os botoes de login e cadastro na navbar */
#auth-buttons {
    background-color: #8710A5;
    border-radius: 30px;
    margin: 1rem;
    margin-left: 0;
    font-size: 1.5rem;
}

/* estiliza o botão do menu hamburguer */
#nav-drawer-container {
    display: none;
}

#nav-drawer {
    display: flex;
}

#nav-drawer i{
    cursor: pointer;
    font-size: 4rem;
    align-self: center;
    margin-right: 1.7rem;
}


/* estiliza a aba do menu hamburguer aberto */
#nav-drawer-menu {
    background-color: #8710A5;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

#footer-logo{
    display: flex;  
    margin: 0;
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

#main-footer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 4.5rem;
    font-size: 32px;
    flex-wrap: wrap;
    color: white;
}

/* estiliza a seção de contato no final de cada página */
#contato {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#contato p {
    margin-top: 1rem;
}


/* faz a responsividade da tela */
@media screen and (max-width: 428px) {
    #contato {
        padding: 2vw;
    }

    #contato h1 {
        font-size: 9vw;
    }

    #contato p {
        font-size: 6vw;
    }

    #nav-drawer i {
        font-size: 10vw;
    }
}

@media screen and (max-width: 470px) {
    nav h1{
        font-size: 10vw;
    }

    #nav-drawer i {
        font-size: 12vw;
    }
}

@media screen and (max-width: 720px) {
    #auth-buttons {
        display: none;
    }

    #nav-drawer-container {
        display: flex;
    }

    .menu-aberto {
        display: flex;
    }
}

@media screen and (max-width: 776px) {
    .title i {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 1rem 1.5rem; /* Reduz drasticamente o padding lateral */
        flex-direction: column; /* Empilha o logotipo e as listas */
        gap: 2rem;
    }

    #main-footer {
        gap: 1.5rem; /* Reduz o espaçamento entre as listas de links */
        justify-content: center;
    }
    
    #footer-logo {
        font-size: 2.5rem; /* Diminui a fonte do logo no mobile */
    }
}