/* Classes */

/* alinha e aumenta os icones na pagina principal */
.center-icon {
    font-size: 4rem;
    margin: 1rem;
}

/* IDs */

/* definem as cores e outras estilizações específicas de cada aba de conteúdo da pagina principal */

#html {
    background: linear-gradient(0deg, #ff3d00, #ff6c2e, #ff6c2e);
}

#html .center-icon {
    font-size: 5rem;
}

#css {
    background: linear-gradient(0deg, #006eff, #2ea1ff, #2ea1ff);
}

#js {
    background: linear-gradient(0deg, #d6d400, #fffd21, #fffd21);
}

/* garante que o titulo longo do js não quebre a página numa resolução pequena */
@media screen and (max-width: 460px) {
    #js h1 {
        font-size: 2rem;
    }
}