/* Classes */

/* alinha e aumenta os icones na pagina principal */
.center-icon {
    font-size: 4rem;
    margin: 1rem;
}

/* IDs */

ul {
    list-style: none;
    font-size: 1.5rem;
    padding: 0;
}

#introducao {
    margin: 4rem auto;
    padding: 2.5rem;
    max-width: 800px; /* faz com que as frases não possam ficar muito longas em telas grandes */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* sombra bem legal para dar profundidade */
    border-left: 6px solid #8e07af; /* detalhe roxo na esquerda */
}

/* define as cores e outras estilizações específicas de cada aba de conteúdo da pagina principal */

#html {
    background: linear-gradient(0deg, #ff3d00, #ff6c2e, #ff6c2e);
}

#html .center-icon {
    font-size: 5rem;
}

#css {
    background: linear-gradient(0deg, #006eff, #2ea1ff, #2ea1ff);
}

#js {
    background: linear-gradient(0deg, #d6d400, #fffd21, #fffd21);
}

/* garante que o titulo longo do js não quebre a página numa resolução pequena */
@media screen and (max-width: 545px) {
    #js h1 {
        font-size: 9vw;
    }
}

/* ajuste de responsividade para a tela inicial (mobile) */
@media screen and (max-width: 768px) {
    #introducao {
        margin: 2rem 1rem;
        padding: 1.5rem;
        border-left: 4px solid #8e07af; /* deixa a bordinha roxa (la ele) um pouco mais fina */
    }

    /* reduz um pouquinho o tamanho dos textos pra ficar melhor no celular */
    #introducao p {
        font-size: 1.1rem; 
    }

    #introducao ul {
        font-size: 1.1rem;
    }
}